* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    background-color: hsl(217, 54%, 11%);
    
}

.card {
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    border-radius: 10px;
    width: 350px;
    height: auto;
    padding: 15px;
    background-color: hsl(216, 50%, 16%);
}

#nft-image {
   width: 90%;
   margin: 5%;
   border-radius: 10px;
}


h2 {
    padding: 0 17px;
    color: white;
}

h2:hover, #name:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
p {
    font-size: 18px;
}
.description {
    color: hsl(215, 51%, 70%);
    padding: 15px 17px;
    font-weight: 300;
}

.crypto-time {
    padding: 0px 17px 5px;
    display: flex;
    font-size: 14px;
}
.flex-span {
    display: flex;
    align-items: center;
    gap: 5px;
}
#crypto {
    color: hsl(178, 100%, 50%);
    font-size: 16px;
    width: 49%;
    font-weight: 600;
}

#time {
    color: hsl(215, 51%, 70%);
    width: 49%;
    text-align: right;
    justify-content: end;
}
/*#crypto {
    color: hsl(178, 100%, 50%);
    font-size: 16px;
    width: 49%;
}

#time {
    color: hsl(215, 51%, 70%);
    width: 49%;
    text-align: right;
}

#crypto svg {
    height: 30px;
    padding-top: 13px;
}

#time svg {
    height: 30px;
    padding-top: 14px;
} */

#creator {
    border-top: 1px solid hsl(215, 32%, 27%);
    margin: 10px 17px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-top: 12px;
}

#creator-span {
    color:hsl(215, 51%, 70%);
    margin: 0 4px 0 15px;
}
#creator-img {
    width: 10%;
    border: 1px solid white;
    border-radius: 100%;
}

.card-image {
    position: relative;
    background-image: url('./images/image-equilibrium.jpg');
    background-size: cover;
    min-width: 300px;
    min-height: 300px;
    margin: 10px;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.overlay:hover{
    
    background-color: rgba(0, 255, 247, 0.5);
    opacity: 0.9;
}

.eyes {
    position: absolute;
    top: 42%;
    left: 42%;
}

/* .overlay:hover > img {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    width: 30px;
    height: 30px;
    
} */