@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  padding: 20px 35px;
  background-image: url("images/bg-mobile.svg");
  background-color: hsl(257, 40%, 49%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  /* background-attachment: fixed; */ 
  /* background-position: center ; */
  min-height: 100vh;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

header img {
  height: 40px;
  margin: 5px 0 25px;
}

main {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 280px 290px 80px;
  row-gap: 25px;
}

h1, .btn {
  font-family: 'Poppins', sans-serif;
}

.illustration img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.register-item {
  text-align: center;
}

.huddle-paragraph {
  line-height: 1.7;
  padding: 20px 0;
}

.btn {
  color: hsl(257, 40%, 49%);
  background-color: #fff;
  padding: 12px 0;
  width: 200px;
  border-radius: 100px;
  border: none;
}

.btn:hover {
  color: #fff;
  background-color: hsl(300, 69%, 71%);
}

.social-media {
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
  }
}

.social-media span:hover {
  border-color: hsl(300, 69%, 71%);
  color: hsl(300, 69%, 71%);
}




.attribution { 
  font-size: 11px; 
  text-align: center;

}
.attribution a { 
  color: hsl(300, 69%, 71%);  
}

@media (min-width: 800px) {
  body {
    position: relative;
    overflow-x: hidden;
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
   
  }

  main {
    
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .illustration {
    width: 750px;
    /*display: flex;
    justify-content: center;*/
    
  }

  .illustration img {
    width: 90%;
    margin-top: 45px;
    margin-left: 13px;
  }

  .register-item {
    margin-top: 115px;
    text-align: left;
    width: 550px;
   
  }
   header img {
    padding-left: 15px;
    height: 56px;
   }
  h1 {
    width: 450px;
    font-size: 2.3em;
    
  }

  .huddle-paragraph {
    width: 465px;
  }
  .social-media {
    width: 100%;
    align-self: flex-end;
    justify-content: flex-end;
    margin-right: 70px;
  }

 
}

@media screen and (min-width: 800px) and (max-width: 1360px) {
  main {
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
  }
  h1, .huddle-paragraph {
    width: 100%;
  }

  .register-item, .illustration {
    text-align: center;
    width: 50%;
    margin: 0;
  }

  .illustration img {
    margin: 0;
  }

  .social-media {
    align-self: center;
    justify-content: center;
    margin: 0;
  }
}
